<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dcloud_account.mapper.TrafficMapper">

    <resultMap type="com.example.dcloud_account.entity.Traffic" id="TrafficMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="dayLimit" column="day_limit" jdbcType="INTEGER"/>
        <result property="dayUsed" column="day_used" jdbcType="INTEGER"/>
        <result property="totalLimit" column="total_limit" jdbcType="INTEGER"/>
        <result property="accountNo" column="account_no" jdbcType="INTEGER"/>
        <result property="outTradeNo" column="out_trade_no" jdbcType="VARCHAR"/>
        <result property="level" column="level" jdbcType="VARCHAR"/>
        <result property="expiredDate" column="expired_date" jdbcType="TIMESTAMP"/>
        <result property="pluginType" column="plugin_type" jdbcType="VARCHAR"/>
        <result property="productId" column="product_id" jdbcType="INTEGER"/>
        <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
        <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--add day used times.-->
    <update id="addDayUsedTimes" parameterType="com.example.dcloud_account.entity.Traffic">
        update traffic t
        set t.day_used = t.day_used + #{dayUsed}
        where t.id = #{id}
          and t.account_no = #{accountNo}
          and (t.day_limit - t.day_used) >= #{dayUsed}
    </update>

    <!--select random traffic.-->
    <select id="selectRandomTraffics" resultType="com.example.dcloud_account.entity.Traffic"
            parameterType="int">
        select * from traffic
        order by rand(#{randomCount})
    </select>


</mapper>
