<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dcloud_account.mapper.TrafficTaskMapper">

    <resultMap type="com.example.dcloud_account.model.entity.TrafficTask" id="TrafficTaskMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="accountNo" column="account_no" jdbcType="INTEGER"/>
        <result property="trafficId" column="traffic_id" jdbcType="INTEGER"/>
        <result property="useTimes" column="use_times" jdbcType="INTEGER"/>
        <result property="lockState" column="lock_state" jdbcType="VARCHAR"/>
        <result property="bizId" column="biz_id" jdbcType="VARCHAR"/>
        <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
        <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

</mapper>

